[submodule "aur-mozamimy/PKGBUILDs/circleci-cli-bin"]
	path = aur-mozamimy/PKGBUILDs/circleci-cli-bin
	url = https://aur.archlinux.org/circleci-cli-bin.git
[submodule "aur-mozamimy/PKGBUILDs/jsonnet"]
	path = aur-mozamimy/PKGBUILDs/jsonnet
	url = https://aur.archlinux.org/jsonnet.git
